body{
    background-color: lightblue;
    font-family: "Courier New", "Lucida Console", Monaco;
}

h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 50px;
    color: darkred;
}