body{
    background-color: lightcoral;
    font-family: "Courier New", "Lucida Console", Monaco;
}

#gif{
    width: 800px;
    height: auto;
    margin: 0 525px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: lightblue;
}

ul{
    text-align: center;
    font-size: 40px;
    margin: 100px 625px;
}

li{
    padding: 20px;
    border: 5px dotted lightseagreen;
    margin: 30px;
}
